/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */


$deep: #3E543E;
$deepd: #263326;
	$dull: #30332E;
$bold: #263248;
	$dull_warm: #33302E;
$light: #7E8AA2;
$blank: #FFFFFF;
$bright: #FF9800;
	$highlight: #E3A387;
	$shade: #946A58;
	$shaded: #66493D;


html {
	font-size: 62.5%;
}

body {
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'Helvetica World', 'Helvetica', 'Arial';
}

.top {
	background-color: $deepd;
	color: $blank;

	height: 80px;
	height: 8rem;
	width: 100%;

	header {
		padding: 10px;
		padding: 1rem;
		width: 800px;
		width: 80rem;
		height: 60px;
		height: 6rem;
		position:relative;
		margin-left: auto;
		margin-right: auto;

		h1 {
			position: absolute;
			display: block;
			margin: 0;
			padding: 0;
			bottom: 10px;
			bottom: 1rem;
			font-size: 30px;
			font-size: 3rem;
			font-weight: 550;
		}

		nav {
			position: absolute;
			right: 10px;
			right: 1rem;
			bottom: 10px;
			bottom: 1rem;
			ul {
				margin: 0;
				padding: 0;
				li {
					float:left;
					padding:0 10px 0 10px;
					padding:0 1rem 0 1rem;
					a:link, a:visited, a:hover, a:active {
						text-decoration: none;
						color: $blank;
					}
					a:hover {
						color: $bright;
					}
				}
			}
		}

	}	

}

.middle {
	width: 100%;
	.main {
		width: 800px;
		width: 80rem;
		margin-left: auto;
		margin-right: auto;
		position:relative;

		h1 {
			margin: 25px 0;
			margin: 2.5rem 0;
			padding: 0;
			font-size: 50px;
			font-size: 5rem;

		}
		h2 {
			margin: 25px 0;
			margin: 2.5rem 0;
			padding: 0;
			font-size: 30px;
			font-size: 3rem;
		}

		h3 {
			margin: 25px 0;
			margin: 2.5rem 0;
			padding: 0;
			font-size: 20px;
			font-size: 2rem;
		}

		p {
			margin: 10px;
			margin: 1rem;
		}

		a:link, a:visited, a:hover, a:active {
			text-decoration: none;
			color: $bright;
		}
		a:hover {
			color: $shade;
			text-decoration: underline;
		}

	}
}

#user-header{
	margin-bottom:40px;
	margin-bottom: 4rem;
	position:relative
	}

#user-info {
	position:absolute;
	bottom:0;
	right:0;

	font-size: 20px;
	font-size: 2rem;
}

#created-events {
	
	width: 200px;
	width: 20rem;
	position:absolute; left: 0;
	color: #E3A387;

	h2 {
		padding: 0;
		font-weight:550;
		font-size:25px;
		font-size:2.5rem;
		margin-top:7px;
		margin-bottom:.7rem;
		margin-bottom: 20px;
		margin-bottom: 2rem;
		color:$deepd;
	}

	ul {
			border-radius:5px;
			padding: 10px;
			background-color: $shade;
	padding: 1rem;
		h3 {
			margin: 0;
			margin-bottom: 5px;
			margin-bottom: .5rem;
			font-weight: 600;
			font-size:inherit;
		}
		a:link, a:visited, a:hover, a:active {
			text-decoration: none;
			color: $deepd;
		}
		a:hover {
			color: $bright;
			text-decoration: underline;
		}



		p {
			margin: 0 0 10px 0;
			margin: 0 0 1rem 0;
		}
		li {
			margin-bottom: 10px;
			margin-bottom: 1rem;
		}
	}
}
#attended-events {
	margin-left: 230px;

	h2 {
		padding: 0;
		margin: 0 0 15px 0;
		margin: 0 0 1.5rem 0;
		font-size: 30px;
		font-size: 3rem;
		text-align: center
	}
	h3 {
		margin: 0;
		padding: 0;
		font-size: 20px;
		font-size: 2rem;
	}

	li {
		margin-bottom:10px;
		margin-bottom:1rem;
	}

	.event-info {
		font-size: .8em;
		width: 160px;
		width: 16rem;
		float: left;
		text-align:right;
		padding-top:10px;
		padding-top:1rem;

		p {
			margin: 5px 10px 0 0;
			margin: .5rem 1rem 0 0;
		}

	}
	h3 {
		padding: 0;
		margin-left:180px;
		margin-left:18rem;
	}
	.event-description{
		margin-left:180px;
		margin-left:18rem;
		line-height: 15px;
		line-height:1.5em;
	}

	li {
		clear: left;
	}
}







label {
	display:block;
}
input {
	display:block;
	clear:left;
}
input[type=checkbox] {
	float:left;
}


